img{
    width: 100%;

}

.titulo__fuente{
    font-family: 'Pacifico', cursive;
}

.img__carrusel{
    height: 400px;
    object-fit: cover;
    object-position: 0 80%;
}

.text__color-special{
    color: #0f8d1a;
}
.border__color-card{
    border-color: #0f8d1a;
}

.btn__bg{
    background-color: #0f8d1a;
    color: white;
}
.btn__bg:hover{
    background-color: #000000;
    color: white;
}
.card__image{
    height: 25dvh;
    object-fit: cover;
}

.card__heigth{
    height: 54dvh;

}

/* height: 394px; */
